In [1]:
import pandas as pd

In [2]:
import os

In [3]:
pwd

'/Users/MatthewWaters'

In [25]:
football_results = pd.read_csv('/Users/MatthewWaters/Downloads/database/results.csv')

In [12]:
football_results.head()
NOTE: This shows the first five entries from my dataset.

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [13]:
football_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44557 entries, 0 to 44556
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        44557 non-null  object
 1   home_team   44557 non-null  object
 2   away_team   44557 non-null  object
 3   home_score  44557 non-null  int64
 4   away_score  44557 non-null  int64
 5   tournament  44557 non-null  object
 6   city        44557 non-null  object
 7   country     44557 non-null  object
 8   neutral     44557 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.8+ MB

In [15]:
football_results.shape
NOTE: There are 44557 entries and 9 columns.

(44557, 9)

In [16]:
football_results.tail()
NOTE: This shows the last five entries from my dataset.

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
44552,2023-03-28,Haiti,Bermuda,3,1,CONCACAF Nations League,San Cristóbal,Dominican Republic,True
44553,2023-03-28,Guyana,Montserrat,0,0,CONCACAF Nations League,Bridgetown,Barbados,True
44554,2023-03-28,Bonaire,Turks and Caicos Islands,1,2,CONCACAF Nations League,Rincon,Bonaire,False
44555,2023-03-28,United States Virgin Islands,Sint Maarten,1,2,CONCACAF Nations League,Saint Croix,United States Virgin Islands,False
44556,2023-03-29,Rwanda,Benin,1,1,African Cup of Nations qualification,Kigali,Rwanda,False

In [18]:
football_results.columns
NOTE: Below is a description of the column names in my dataset:
        
        date:
        home_team:
        away_team:
        home_score:
        away_score:
        tournament:
        city:
        country:
        neautral:

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral'],
      dtype='object')

In [19]:
football_results.describe()
NOTE: You can make comparisons between home and away scores here.
    HOME: Least amount of goals scored by a home team was 0.
          Most amount of goals scored by a home team was 31.
          Average number of goals by home teams was 1.739278
        
    AWAY: Least amount of goals scored by an away team was 0.
          Most amount of goals scored by an away team was 21.
          Average number of goals scored by away teams was 1.178401
        
ANALYSIS: Can already see, there is a statistical advantage to playing at home if comparing goals scored.

         home_score    away_score
count  44557.000000  44557.000000
mean       1.739278      1.178401
std        1.747263      1.393775
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

In [21]:
# Calculate the total number of wins, losses, and draws for each team
win_counts = football_results['winner'].value_counts().to_dict()
loss_counts = football_results['loser'].value_counts().to_dict()
draw_counts = football_results['draw'].value_counts().to_dict()

# Combine the win, loss, and draw counts for each team into a single dictionary
team_counts = {}
for team in win_counts.keys():
    team_counts[team] = {'wins': win_counts[team], 'losses': 0, 'draws': 0}
for team in loss_counts.keys():
    if team in team_counts:
        team_counts[team]['losses'] = loss_counts[team]
    else:
        team_counts[team] = {'wins': 0, 'losses': loss_counts[team], 'draws': 0}
for team in draw_counts.keys():
    if team in team_counts:
        team_counts[team]['draws'] = draw_counts[team]
    else:
        team_counts[team] = {'wins': 0, 'losses': 0, 'draws': draw_counts[team]}

# Convert the team counts dictionary into a Pandas DataFrame
football_results_teams = pd.DataFrame.from_dict(team_counts, orient='index')

# Calculate the total number of matches for each team
football_results_teams['matches'] = football_results_teams['wins'] + football_results_teams['losses'] + football_results_teams['draws']

# Calculate the win percentage for each team
football_results_teams['win_pct'] = football_results_teams['wins'] / football_results_teams['matches']

# Sort the teams by win percentage and display the top 10
football_results_teams.sort_values('win_pct', ascending=False).head(10)

KeyError: 'winner'

In [22]:
football_results['tournament'].value_counts()

Friendly                                17593
FIFA World Cup qualification             7878
UEFA Euro qualification                  2631
African Cup of Nations qualification     1976
FIFA World Cup                            964
                                        ...
FIFA 75th Anniversary Cup                   1
Évence Coppée Trophy                        1
Real Madrid 75th Anniversary Cup            1
Copa Confraternidad                         1
TIFOCO Tournament                           1
Name: tournament, Length: 142, dtype: int64